<div id="Experience" class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">

    
    <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
      <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
      <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>

    <div class="mx-auto max-w-7xl px-6 lg:px-8">

        <div class="mx-auto max-w-2xl lg:mx-0">

            <h2 class="text-4xl font-bold tracking-tight text-white sm:text-4xl typewrite" data-period="2000" data-type='[ "Exp" ]' ></h2>
    <br>

            <ol class="relative border-s border-gray-200 dark:border-gray-700">                  
                <li class="mb-10 ms-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2019</time>
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Desarrollador de Software Junior</h3><br>
                    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                        Cuando era un desarrollador junior de software, mi función consistía en escribir código y abordar problemas simples en proyectos. Trabajaba bajo la supervisión de desarrolladores más experimentados, quienes me guiaban en el diseño y la resolución de problemas más complejos.</p>
                </li>
                <li class="mb-10 ms-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">dic. 2020 - nov. 2022</time>
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Desarrollador de Software Middle</h3><br>
                    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                        Cuando era un desarrollador de software middle, mi papel implicaba trabajar en proyectos más complejos en comparación con mi etapa como desarrollador junior. Participaba activamente en el diseño, desarrollo y depuración del código, colaborando estrechamente con equipos multidisciplinarios. Asumía un papel más integral en la toma de decisiones técnicas y me encargaba de la implementación de nuevas funcionalidades, así como de asegurar la calidad del código.</p>
                </li>
                <li class="ms-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">dic. 2020 - actualidad</time>
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Senior Site Reliability Engineer</h3><br>
                    <p class="text-base font-normal text-gray-500 dark:text-gray-400">Como Site Reliability Engineer (SRE) senior, mi papel abarca la gestión y optimización avanzada de la infraestructura y operaciones de sistemas. Me encargo de garantizar la confiabilidad, escalabilidad y rendimiento de los servicios mediante la implementación de prácticas de automatización, monitoreo y resiliencia. Colaboro estrechamente con equipos de desarrollo para diseñar arquitecturas robustas y mejorar continuamente la eficiencia operativa. Además, lidero la respuesta a incidentes críticos, realizo análisis post-mortem y propongo mejoras para prevenir problemas futuros. Como SRE senior, también asumo un papel activo en la mentoría y el desarrollo de otros miembros del equipo.</p>
                </li>
            </ol>
    
        </div>

    </div>

    
</div>



